* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: ghostwhite;
}

h1, h2, h3{
    letter-spacing: 3px;
    color: ghostwhite;
    padding: 10px;
}
header {
    background-color: darkcyan;
    position: relative;
}
#titulo {
    padding: 20px;
    font-size: 25px;
    display: inline-block;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar {
    list-style: none;
    display: flex;
}
.nav-bar li {
    letter-spacing: 3px;
    margin-left: 32px;
}

#main {
    background-color: gray;
    padding: 50px;
    
}

th , td{
    border: 2px solid black;
    padding: 2px;
}

p{
    margin: 10px;
}
footer {
    background-color: darkcyan;
}
footer h3 {
    text-align: center;
    padding: 20px;
}
.conteudo {
    
}